name: Periodic Update Data

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  submit-pr:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set up environment
        run: |
          python -m pip install --upgrade pip build
          python -m pip install pandas

      - name: Update ONI Table
        run: |
          python process_oni.py

      - name: Update ML Table
        run: |
          python process_nino_ml.py

      - name: Submit PR
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Updating data
          branch: update-data
          delete-branch: true
          title: Update table with new data
          body: |
            Hello! Updating the tables with new data...
